body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  overflow: hidden;
}

html {
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

.am-icon>svg {
  width: 100%;
  height: 100%;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.spin {
  transform: rotate(360deg);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.react-player__shadow,
.react-player__play-icon {
  display: none;
}

/* 底部菜单 */
.adm-tab-bar-wrap {
  border-top: 1px solid #eee;
  background-color: white;
  min-height: auto;
}

.adm-tab-bar-wrap .adm-tab-bar-item {
  padding: 8px 0 0 0;
  justify-content: space-between;
}

.adm-badge-wrapper .adm-tab-bar-item-icon {
  font-size: 16px;
  height: auto;
}

/* 顶部吸附 */
.sticky-tabs-header .adm-tabs-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

/* 我的页面刷新 */
.adm-pull-to-refresh {
  height: 100%;
}

/* 覆盖默认padding */
.adm-list-item .adm-list-item-content-main {
  padding: 0;
}

.adm-list-item-content-main {
  flex: 0;
  overflow-x: hidden;
}

.adm-tabs-content {
  flex: 1;
  overflow: auto;
}